<!DOCTYPE html>

<html>

<head>
    <title>About</title> 
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by L. Beaty. It uses data from mapbox.xom and darkskies.net.</p>
    <img class="portratit" src="/img/me.jpg">
    </div>

  


    {{>footer}}
</body>

</html>